* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(199, 231, 241);
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color:blue
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 6px;
}

form input {
    font-size: 18px;
    background-color: rgb(232, 236, 236);
    border: none;
    border-bottom: 2px solid black;
    padding: 8px;
}

form button {
    background-color: rgb(91, 132, 185);
    color: rgb(148, 201, 248);
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid black;
    padding: 100px;
    font-size: 20px;
    font-weight: bold;
}

table td {
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

table td img {
    height: 15px;
}

